version: "3.9"
services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: myapp
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: flutterusers
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  api:
    build: .
    ports:
      - "10000:10000"
    environment:
      DATABASE_URL: postgresql+asyncpg://myapp:12345@db:5432/flutterusers
      SECRET_KEY: "LOCAL_KEY"
    depends_on:
      - db

volumes:
  pgdata: {}